# Bintray deployment
/travis_bintray_descriptor_gen.py
/.bintray.json

# Eclipse
/.settings
/.*project

# Python
/build
/dist
/.cache
__pycache__
*.egg
*.egg-info
*.pyc

# Python coverage
/htmlcov
/coverage.xml
/.coverage
